@{
    ViewData["Title"] = "404 - Page Not Found";
    Layout = "_AuthLayout";
}

<div class="container min-vh-100 d-flex justify-content-center align-items-center">
    <div class="row">
        <div class="col-12">
            <h1 class=" display-5 mb-3">404 - Page Not Found &#128546;</h1>
            <p>
                Looks like you are lost <span style="font-size:2rem;">&#128542;</span>.
            </p>
        </div>
    </div>
</div>
