@{
    ViewData["Title"] = "403 - Forbidden";
    Layout = "_AuthLayout";
}

<div class="container min-vh-100 d-flex justify-content-center align-items-center">
    <div class="row">
        <div class="col-12">
            <h1 class=" display-5 mb-3">404 - Forbidden &#128546;</h1>
            <p>
                Looks like you don't have the permissions to view this page <span style="font-size:2rem;">&#128542;</span>.
            </p>
        </div>
    </div>
</div>
