@model IEnumerable<WebApplicationVentixe.Models.Invoice.InvoiceViewModel>

@{
    var paidCount = Model.Count(i => i.StatusName == "Paid");
    var unpaidCount = Model.Count(i => i.StatusName == "Unpaid");
    var overdueCount = Model.Count(i => i.StatusName == "Overdue");
}

<div class="d-flex flex-nowrap w-100">
    <div class="m-2" style="flex: 1;">
        <div class="card h-100">
            <div class="card-body p-2">
                <h4>Paid <i class="bi bi-patch-check"></i> </h4>
                <p>@paidCount</p>
                <small>Last month: @paidCount</small>
            </div>
        </div>
    </div>

    <div class="m-2" style="flex: 1;">
        <div class="card h-100">
            <div class="card-body p-2">
                <h4>Unpaid <i class="bi bi-x-octagon"></i> </h4>
                <p>@unpaidCount</p>
                <small>Last month: 0</small>
            </div>
        </div>
    </div>

    <div class="m-2" style="flex: 1;">
        <div class="card h-100">
            <div class="card-body p-2">
                <h4>Overdue  <i class="bi bi-exclamation-octagon"></i> </h4>
                <p>@overdueCount</p>
                <small>Last month: 0</small>
            </div>
        </div>
    </div>
</div>
