<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-12">
                <p>&copy; @DateTime.Now.Year - Ventixe</p>
            </div>
            <div class="col-md-4 col-12">
                <p>Lorem ipsum Lorem ipsum Lorem ipsum</p>
            </div>
            <div class="col-md-4 col-12">
                <img src="/images/FacebookLogo.svg" alt="Facebook Icon" class="img-fluid" />
                <img src="/images/XLogo.svg" alt="X Icon" class="img-fluid" />
                <img src="/images/InstagramLogo.svg" alt="Instagram Icon" class="img-fluid" />
                <img src="/images/YoutubeLogo.svg" alt="Youtube Icon" class="img-fluid" />
                <img src="/images/LinkedinLogo.svg" alt="LinkedIn Icon" class="img-fluid" />
            </div>
        </div>
    </div>
</footer>