
@{
    var provider = User?.FindFirstValue(ClaimTypes.AuthenticationMethod);
    if (string.IsNullOrEmpty(provider))
        provider = "local";

    var email = User?.FindFirstValue(ClaimTypes.Email);
    var role = User?.FindFirstValue(ClaimTypes.Role);
}

<header class="bg-light py-2 px-3">
    <div class="container-fluid d-flex align-items-center">        
        <div>
            <h1 class="mb-1 me-2">
                @ViewData["Title"]
            </h1>
            <p class="mb-0">
                @* Ändra så det blir breadcrumbs och bara står titlen när man går till andra delar än Dashboard *@
            </p>
        </div>

        <div class="align-items-center d-flex">

             <button class="btn d-md-none" type="button" data-bs-toggle="collapse" data-bs-target="#searchCollapse" aria-expanded="false" aria-controls="searchCollapse">
                <img src="~/Images/ButtonSearch.svg" alt="Search">                
            </button>

            <form class="d-flex d-none d-md-flex ms-3 me-3">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-primary" type="submit">Search</button>
            </form>     
            
            <div class="d-flex flex-column justify-content-center d-none d-md-flex">
				<p class="mb-0">@email</p>
                <p class="mb-0 text-muted">@role</p>
                <p class="mb-0 text-muted">@provider</p>
            </div>

            <a asp-controller="Profile" asp-action="Index" class="btn-cred btn-primary"><span style="white-space: nowrap;">Edit Profile</span></a>
            
        </div>
    </div>

    <div class="collapse px-3 pt-2" id="searchCollapse">
        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-primary" type="submit">Search</button>
        </form>
    </div>
    
</header>