@model WebApplicationVentixe.Models.Events.AddEventFormData

<div class="modal fade" id="addEventModal" tabindex="-1" aria-labelledby="addEventModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" asp-action="Create">
                <div class="modal-header">
                    <h5 class="modal-title" id="addEventModalLabel">Add New Event</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="mb-3">
                        <label asp-for="EventName" class="form-label">Event Name</label>
                        <input asp-for="EventName" class="form-control" />
                    </div>

                    <div class="mb-3">
                        <label asp-for="EventDescription" class="form-label">Event Description</label>
                        <textarea asp-for="EventDescription" class="form-control"></textarea>
                    </div>

                    <div class="mb-3">
                        <label asp-for="EventLocation" class="form-label">Event Location</label>
                        <input asp-for="EventLocation" class="form-control" />
                    </div>

                    <div class="mb-3">
                        <label asp-for="EventDate" class="form-label">Event Date</label>
                        <input asp-for="EventDate" type="date" class="form-control" min="@DateTime.Today.ToString("yyyy-MM-dd")"/>
                    </div>

                    <div class="row mb-3">
                        <div class="col">
                            <label asp-for="SilverTicketAmount" class="form-label">Silver Ticket Amount</label>
                            <input asp-for="SilverTicketAmount" type="number" class="form-control" min="1" />
                        </div>
                        <div class="col">
                            <label asp-for="SilverTicketPrice" class="form-label">Silver Ticket Price</label>
                            <input asp-for="SilverTicketPrice" type="number" class="form-control" min="1" step="0.01" />
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col">
                            <label asp-for="GoldTicketAmount" class="form-label">Gold Ticket Amount</label>
                            <input asp-for="GoldTicketAmount" type="number" class="form-control" min="1" />
                        </div>
                        <div class="col">
                            <label asp-for="GoldTicketPrice" class="form-label">Gold Ticket Price</label>
                            <input asp-for="GoldTicketPrice" type="number" class="form-control" min="1" step="0.01"/>
                        </div>
                    </div>
                    

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Create</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
