@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model WebApplicationVentixe.Models.Events.EventDetailsViewModel

<div>
    <h2>@Model.Event.EventName</h2>


    @foreach (var ticket in Model.Ticket)
    {
        if(ticket.Category.CategoryName == "SILVER")
        {
            <button class="btn" style="color:grey">@ticket.Category.CategoryName</button>
        }
        else
        {
            <button class="btn" style="color:yellow">@ticket.Category.CategoryName</button>
        }
    }
</div>